* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6f8f9;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 5px 35px;
    box-shadow: 0px 0px 8px grey;
}

.profile {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    background-color: #FCFCFC;
    min-height: 500px;
    margin: 35px;
    box-shadow: 0px 0px 8px grey;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.top-header {
    width: 7%;
    height: 100%;
    line-height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.top-header p {
    margin: 30px 0px;
    transform: rotate(-90deg);
}

.main {
    width: 100%;
    margin: 60px 40px 0 40px;
    background-color: #FCFCFC;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    margin: 5px;
    padding: 10px;
    /* box-shadow: 0px 0px 8px grey; */
}

.additems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.additems span {
    margin-right: 15px;
}

.additems img {
    margin-right: 5px;
}

.readmore {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #FFFFFF;
    border: 1px solid snow;
}

.readmore div {
    background-color: #FFFFFF;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    color: #707070;
    font-size: 12px;
}

.readmore .lines {
    height: 100%;
    width: 100%;
    flex-basis: 300px;
    border-color: #F0F0F0;
}

.lines button {
    padding-top: 10px;
    background-color: #FFFFFF;
    float: left;
    border: none;
}

.last {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 60px 10px 10px 9px;
}

.last p {
    border-bottom: 2px solid #595959;
}

.last button {
    padding: 8px 12px;
    background-color: #32BDD2;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #ffffff;
}

.last a {
    margin-left: 80%;
    color: #32BDD2;
    font-size: 12px;
}