* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f6f8f9;
}

.container {
  background-color: #ffffff;
  margin: 25px;
  min-height: 92%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main {
  width: 30%;
  min-height: 300px;
}

.main .login {
  margin: 10px 10px 30px 10px;
  border-bottom: 2px solid #595959;
  width: 15%;
}

.inner-container h3 {
  text-decoration: underline;
  font-size: 24px;
  color: #595959;
  font-variant-caps: all-petite-caps;
}

.inner-container .subtitle {
  color: #747474;
}

.inner-container {
  margin: 10px 10px 30px 10px;
  font-size: 12px;
  color: #505050;
}

.input-container {
  display: flex;
  margin-top: 4%;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid;
  color: #d3d3d3;
  border-radius: 5px;
  outline: none;
}

.submit {
  padding: 10px 0 0 0;
}

.submit button {
  padding: 10px;
  width: 30%;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  border: 0;
  background-color: #32bdd2;
}
