@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f8f9;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px 35px;
  box-shadow: 0px 0px 8px grey;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img:first-child {
  margin-right: 10px;
}

.profile img:last-child {
  margin-left: 10px;
}

.container {
  background-color: #f6f8f9;
  min-height: 500px;
  margin: 35px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.top-header {
  margin-top: 60px;
  border-top-left-radius: 15px;
  width: 7%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-header p {
  margin: 30px 0px;
  transform: rotate(-90deg);
}

.top-header .menu-bar {
  border-top-left-radius: 15px;
  width: 100%;
  height: 70px;
  background-color: #245070;
}

.top-header .menu {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #000000;
  width: 100%;
  border-bottom-left-radius: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.menu>div {
  width: 100%;
  padding: 2px 0px;
  text-align: center;
  margin: 10px 0px;
}

.menu>div:nth-of-type(2) {
  border-right: 3px solid yellow;
}

.main {
  width: 100%;
  margin-left: 25px;
  box-shadow: 0px 0px 4px #000000;
  opacity: 1;
  background-color: #fcfcfc;
}

.note-section {
  padding: 15px;
  background-color: #ffffff;
}

.note {
  margin-left: 25px
}

.note p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.option {
  margin: 60px 0px;
}

.option button {
  margin-right: 25px;
  width: 122px;
  height: 43px;
  outline: none;
  background: white;
  border: 0.5px solid #245070;
  border-radius: 7px;
}

.card {
  padding: 18px 60px 18px 30px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
}

.card .new {
  border: none;
  display: flex;
}

.card .p {
  font-weight: bold;
  color: #505050;
  margin-left: 20px;
  display: flex;
  padding: 7px;
}

.card .p span {
  margin-left: 10px;
  line-height: 10px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 3px;
}

.sameera {
  padding: 0 0 60px 0;
  margin: 0px 50px;
  border-left: 3px solid #F7F7F7;
}

.you {
  /* padding: 10px 10px 15px 10px; */
  padding: 50px 0 20px 20px;
}

/* .you p {
  margin-bottom: 10px;
} */

.blank {
  background-color: #F4F8FA;
  padding: 20px 60px 30px 20px;
  align-items: center;
}

.blank input[type="text"] {
  border: 1px solid #EDEAEA;
  width: 100%;
  height: 71px;
}

.blank button {
  border: none;
  outline: none;
  margin-top: 15px;
  border-radius: 20px;
  width: 90px;
  height: 29px;
  background: #32BDD2;
  box-shadow: 0px 2px 4px #000000;
}

.introduction>p {
  border-left: 7px solid blue;
  padding-left: 20px;
  line-height: 18px;
  text-align: justify;
  text-justify: auto;
}

.first {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  border-left: 7px solid transparent;
  margin-bottom: 15px;
  margin-top: 40px;
}

.first .circle {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 6px;
  /* margin-top: 3px; */
}

.round {
  border: 1px solid black;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: -20px;
}

.lorem {
  margin-left: 25px;
  padding: 15px 10px 15px 33px;
  margin: 1px 20px;
  width: 60%;
  border-left: 1px solid black;
}

.create {
  margin-left: 20px;
  width: 70%;
  padding: 10px 10px 10px 2px;
  border-left: 1px solid black;
}

.inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner p {
  margin-left: 15px;
}

.readmore {
  margin: 20px 0px 60px 0px;
  opacity: 1;
}

.readmore div {
  color: #707070;
  font-size: 12px;
  font-family: Roboto;
}

.readmore .lines {
  height: 100%;
  width: 100%;
  flex-basis: 500px;
  border-color: #f0f0f0;
  letter-spacing: 0.78px;
  color: #747474;
  line-height: 18px;
}

.attach {
  margin-top: 20px;
  width: 35%;
  height: 56px;
  color: #595959;
  border: 1px solid #d5e2e8;
}

.abc {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px 5px 15px;
  border-bottom: 1px solid #d5e2e8;
}

.invitee {
  margin: 20px 0px 15px 0px;
  display: flex;
  padding: 5px 25px;
  align-items: center;
  border: 1px solid #d5e2e8;
  width: 35%;
  height: 61px;
}

.luke {
  margin-left: 20px;
}