<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.login.login">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Forgotalert" />
        <activity
            android:name=".BugerMenu"
            android:label="@string/title_activity_buger_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RecycleView"></activity>
    </application>

</manifest>